.leaflet-container {
  height: 500px;
  width: 80vw;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}

.map-container {
  box-shadow: rgb(0 0 0 / 20%) 0px 6px 20px 0px;
  border-bottom: 5px solid transparent;
  border-radius: 4px;
  border-top: 3px;
  border-left: 0px;
  border-right: 0px;
  border-image: linear-gradient(
    to right,
    #ff9e00 0%,
    #f00 25%,
    #b5007d 50%,
    #21429c 75%,
    #0071ff 100%
  );
  border-image-slice: 1;

  
}
