.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-body {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
  font-family: "SkyRegular";
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-logo {
  flex: content;
  text-align: left;
}

.header-style {
  border-bottom: 5px solid transparent;
  border-image: linear-gradient(
    to right,
    #ff9e00 0%,
    #f00 25%,
    #b5007d 50%,
    #21429c 75%,
    #0071ff 100%
  );
  border-image-slice: 1;
  width: 100%;
  font-family: "SkyMedium";
  padding: 5px;
  padding-left: 20px;
}

.gradient-text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  color: #4a4a4a;
  background-image: -webkit-linear-gradient(
    left,
    #ff9e00,
    red 35%,
    #b5007d 60%,
    #21429c 85%,
    #0071ff
  );
  background-size: 100%;
}

/* .logo {
  /* font-family: Poiret One; */
/* text-align: center;
  font-size: 36px;
  text-align: left;
  margin: 1rem;
  color: black;
  font-family: "SkyMedium";
} */

.navigation-bar {
  text-align: right;
  vertical-align: middle;
  width: 90%;
}

.search-bar {
  width: 100%;
  padding: 12px 12px 12px 12px;
  background-color: #282c34;
  flex-direction: column;
  display: flex;
  width: 250px;
}

.search-field {
  margin-left: 20px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.search-button {
  padding: 12px 20px;
}

.map-title {
  background-color: #282c34;
  color: white;
  text-align: left;
}

.search-container {
  flex-direction: row;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

a {
  text-decoration: none;
}
